@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  --background: #f7f7f7;
  --foreground: #171717;
  --card-border: #e0e0e0;
  --menu-background: #0070f3;
  --menu-hover-background: #0053b9;
  --menu-color: white;
  --content-border: #c9c2c2;
  --content-background: white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif, Arial, Helvetica;
}
